<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="{% url 'update' uid.id %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="name" value="{{uid.name}}">
        </div>
        <input type="email" name="email" value="{{uid.email}}">
        <input type="password" name="password" value="{{uid.password}}">
        <button type="submit">Save</button>
    </form>
</body>
</html>