<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>register</h1>
    {% if msg %}
        <p style="color: red;">{{msg}}</p>
    {% endif %}
    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="">Name</label>
            <input type="text" name="name" placeholder="Enter Your Name" required>
        </div>
        <div>
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter Your Password" required>
        </div>
        <div>
            <label for="">Re-enter password</label>
            <input type="password" name="cpassword" placeholder="Enter Your Password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <form action="{% url 'search' %}" method="GET">
        <input type="text" name="name" placeholder="search here">
        <button type="submit">Search</button>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th colspan="2">Action</th>
        </tr>
        {% for one in user %}
        <tr>
            <td>{{one.name}}</td>
            <td>{{one.email}}</td>
            <td>{{one.password}}</td>
            <td><a href="{% url 'update' one.id %}"><button style="color: blue; cursor: pointer;">update</button></a></td>
            <td><a href="{% url 'delete' one.id %}"><button type="button" style="color: red; cursor: pointer;" onclick="">delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>